{% extends "baseAdmin.html.twig" %}

{% block title %}
    Clients - PRYME
{% endblock %}

{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="theme/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="theme/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="theme/plugins/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="theme/plugins/animate/animate.css"/>
    <link href="theme/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="theme/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css" />
    <link href="theme/plugins/file-upload/file-upload-with-preview.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}

{% block body %}
    <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div></div></div>
    <!--  END LOADER -->


    {%  include "dashboard/header.html.twig" %}

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        {% include "dashboard/navbar.html.twig" %}

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="row layout-top-spacing">
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-6">
                            <table id="multi-column-ordering" class="table table-hover" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Membership</th>
                                    <th>Expiration Date</th>
                                    <th>Credits</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for client in clients %}
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="usr-img-frame mr-2 rounded-circle">
                                                    <img alt="avatar" class="img-fluid rounded-circle" src="theme/assets/img/90x90.jpg">
                                                </div>
                                                <p class="align-self-center mb-0 admin-name"> {{ client.firstName }} {{ client.lastName }} </p>
                                            </div>
                                        </td>
                                        <td>{{ client.email }}</td>
                                        <td>{{ client.phone }}</td>
                                        <td>{{ client.membership.name }}</td>
                                        <td>{{ client.membershipExpiryDate | date('Y-m-d') }}</td>
                                        <td>{{ client.creditsRemaining }}</td>
                                        <td class="text-center">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1" style="will-change: transform;">
                                                    <a class="dropdown-item" href="javascript:void(0);">View</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#editModal" onclick="populateModal({{ client.id }})" href="javascript:void(0);">Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Membership</th>
                                    <th>Expiration Date</th>
                                    <th>Credits</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
            <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © 2021 <a target="_blank" href="https://designreset.com">DesignReset</a>, All rights reserved.</p>
                </div>
                <div class="footer-section f-section-2">
                    <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
                </div>
            </div>
        </div>
        <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->


    <!-- EDIT CLIENT MODAL -->
    <div class="modal fade bd-example-modal-xl show" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">

                <div class="modal-header" id="editModalLabel">
                    <h4 class="modal-title">Edit Client</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="flFormsGrid" class="col-lg-12 layout-spacing">
                            <div class="statbox widget box box-shadow">

                                <div class="widget-content widget-content-area">
                                    <form action="/updateClient/2" method="get">
{#                                        <div class="custom-file-container" data-upload-id="myFirstImage">#}
{#                                            <label>Upload Picture <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">x</a></label>#}
{#                                            <label class="custom-file-container__custom-file" >#}
{#                                                <input type="file" class="custom-file-container__custom-file__custom-file-input" accept="image/*">#}
{#                                                <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />#}
{#                                                <span class="custom-file-container__custom-file__custom-file-control"></span>#}
{#                                            </label>#}
{#                                            <div class="custom-file-container__image-preview"></div>#}
{#                                        </div>#}


                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-6">
                                                <label for="firstname">First Name</label>
                                                <input type="text" class="form-control" id="firstname" placeholder="First name">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="lastname">Last Name</label>
                                                <input type="text" class="form-control" id="lastname" placeholder="Last name">
                                            </div>
                                        </div>
                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-6">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="email" placeholder="Email">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="phone">Phone</label>
                                                <input type="text" class="form-control" id="phone" placeholder="Phone">
                                            </div>
                                        </div>
                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-6">
                                                <label for="inputAddress">Street & number</label>
                                                <input type="text" class="form-control" id="street" placeholder="Street">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputAddress">City</label>
                                                <input type="text" class="form-control" id="city" placeholder="City">
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label for="zip">Zip</label>
                                                <input type="text" class="form-control" id="zip">
                                            </div>
                                        </div>
                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-6">
                                                <label for="inputCity">State</label>
                                                <input type="text" class="form-control" id="state">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputCity">Country</label>
                                                <input type="text" class="form-control" id="country">
                                            </div>

                                        </div>

                                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>



{% endblock %}


{% block javascripts %}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="theme/plugins/table/datatable/datatables.js"></script>
    <script src="theme/assets/js/scrollspyNav.js"></script>
    <script src="theme/plugins/file-upload/file-upload-with-preview.min.js"></script>
    <script>

        $('#multi-column-ordering').DataTable({
            "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
                "<'table-responsive'tr>" +
                "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [10, 20, 50],
            "pageLength": 10,
            columnDefs: [ {
                targets: [ 0 ],
                orderData: [ 0, 1 ]
            }, {
                targets: [ 1 ],
                orderData: [ 1, 0 ]
            }, {
                targets: [ 4 ],
                orderData: [ 4, 0 ]
            } ]
        });


        function populateModal(id) {
            //alert(id);
            $.ajax({
                url: '/updateClient/' + id,
                type: 'POST',
                dataType: 'json',
                success: function(user) {
                    console.log((user));
                    $("#firstname").val(user.first_name);
                    $("#lastname").val(user.last_name);
                    $("#email").val(user.email);
                    $("#phone").val(user.phone);
                    $("#street").val(user.street);
                    $("#city").val(user.city);
                    $("#zip").val(user.zip);
                    $("#state").val(user.state);
                    $("#country").val(user.country);
                }
            });
        }
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
{% endblock %}
