{% extends "baseAdmin.html.twig" %}

{% block title %}
    Clients - PRYME
{% endblock %}

{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL STYLES -->
{#    <link rel="stylesheet" type="text/css" href="{{ asset('theme/plugins/table/datatable/datatables.css') }}">#}
{#    <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/forms/theme-checkbox-radio.css') }}">#}
{#    <link rel="stylesheet" type="text/css" href="{{ asset('theme/plugins/table/datatable/dt-global_style.css') }}">#}
{#    <link rel="stylesheet" type="text/css" href="{{ asset('theme/plugins/animate/animate.css') }}"/>#}
{#    <link href="{{ asset('theme/assets/css/scrollspyNav.css') }}" rel="stylesheet" type="text/css" />#}
{#    <link href="{{ asset('theme/assets/css/components/custom-modal.css') }}" rel="stylesheet" type="text/css" />#}
{#    <link href="{{ asset('theme/plugins/file-upload/file-upload-with-preview.min.css') }}" rel="stylesheet" type="text/css" />#}
{#    <link href="{{ asset('theme/plugins/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css" />#}
{#    <link rel="stylesheet" type="text/css" href="{{ asset('theme/plugins/flatpickr/flatpickr.css') }}">#}
    <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/users/user-profile.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/widgets/modules-widgets.css') }}">
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}

{% block body %}
    <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div></div></div>
    <!--  END LOADER -->


    {%  include "dashboard/header.html.twig" %}

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        {% include "dashboard/navbar.html.twig" %}

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="row layout-spacing">

                    <!-- Content -->
                    <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">

                        <div class="user-profile layout-spacing">
                            <div class="widget-content widget-content-area">
                                <div class="d-flex justify-content-between">
                                    <h3 class="">Profile</h3>
                                    <a href="javascript:void(0);" class="mt-2 edit-profile" data-toggle="modal" data-target="#editModal"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg></a>
                                </div>
                                <div class="text-center user-info">
                                    <img src="{{ asset('theme/assets/img/90x90.jpg') }}" alt="avatar">
                                    <p class="">{{ user.firstName }} {{ user.lastName }}</p>
                                </div>
                                <div class="user-info-list">

                                    <div class="">
                                        <ul class="contacts-block list-unstyled">
{#                                            <li class="contacts-block__item">#}
{#                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-coffee"><path d="M18 8h1a4 4 0 0 1 0 8h-1"></path><path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path><line x1="6" y1="1" x2="6" y2="4"></line><line x1="10" y1="1" x2="10" y2="4"></line><line x1="14" y1="1" x2="14" y2="4"></line></svg> Web Developer#}
{#                                            </li>#}
{#                                            <li class="contacts-block__item">#}
{#                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>Jan 20, 1989#}
{#                                            </li>#}
                                            <li class="contacts-block__item">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                {{ user.city }}, {{ user.country }}
                                            </li>
                                            <li class="contacts-block__item">
                                                <a href="mailto:example@mail.com"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>{{ user.email }}</a>
                                            </li>
                                            <li class="contacts-block__item">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                                {{ user.phone }}
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div></div>


                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">

                        <div class="widget widget-account-invoice-three">

                            <div class="widget-heading">
                                <div class="wallet-usr-info">
                                    <div class="usr-name">
                                        <span><img src="{{ asset('theme/assets/img/90x90.jpg') }}" alt="admin-profile" class="img-fluid"> {{ user.firstName }} {{ user.lastName }}</span>
                                    </div>
                                    <div class="add">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></span>
                                    </div>
                                </div>
                                <div class="wallet-balance">
                                    <p>Credits Balance</p>
                                    <h5 class="">{{ user.creditsRemaining }}</h5>
                                </div>
                            </div>

                            <div class="widget-amount">

                                <div class="w-a-info funds-received">
                                    <span>Bought this month <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg></span>
                                    <p>-</p>
                                </div>

                                <div class="w-a-info funds-spent">
                                    <span>Spent this month<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
                                    <p>-</p>
                                </div>
                            </div>

                            <div class="widget-content">

                                <div class="bills-stats">
                                    <span>{{ daysLeft }} Days left</span>
                                </div>

                                <div class="invoice-list">
                                    {% if user.membership %}
                                        <div class="inv-detail">
                                            <div class="info-detail-1">
                                                <p>{{ user.membership.name }}</p>
                                                <p><span class="w-currency">RON</span> <span class="bill-amount">{{ user.membership.price }}</span></p>
                                            </div>

                                        </div>
                                    {% endif %}
                                    <div class="inv-action">
                                        <a href="{{ path('appointmentsCalendar') }}" class="btn btn-outline-primary view-details">View Calendar</a>
{#                                        <a href="javascript:void(0);" class="btn btn-outline-primary pay-now">Pay Now $29.51</a>#}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                        <div class="col-xl-4 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">
                            <div class="education layout-spacing ">
                                <div class="widget-content widget-content-area">
                                    <h3 class="">Next appointments</h3>
                                    <div class="timeline-alter">
                                        {% for userAppointment in userAppointments %}
                                            <div class="item-timeline">
                                                <div class="t-meta-date">
                                                    <p class="">{{ userAppointment.event.startdate | date('Y-m-d H:i') }}</p>
                                                </div>
                                                <div class="t-dot">
                                                </div>
                                                <div class="t-text">
                                                    <p>{{ userAppointment.event.name }}</p>
                                                    {% if userAppointment.event.trainer %}
                                                        <p>{{ userAppointment.event.trainer.name }}</p>
                                                    {% else %}
                                                        <p>No trainer!</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
            <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © 2022 <a target="_blank" href="http://pryme.fit">Pryme</a>, All rights reserved.</p>
                </div>
            </div>
        </div>
        <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->


    <!-- EDIT CLIENT MODAL -->
    <div class="modal fade bd-example-modal-xl show" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">

                <div class="modal-header" id="editModalLabel">
                    <h4 class="modal-title">Edit Profile</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="flFormsGrid" class="col-lg-12 layout-spacing">
                            <div class="statbox widget box box-shadow">

                                <div class="widget-content widget-content-area">
                                    <form method="get" id="updateClient">

                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-6">
                                                <label for="firstname">First Name*</label>
                                                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First name" value="{{ user.firstName }}" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="lastname">Last Name*</label>
                                                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last name" value="{{ user.lastName }}" required>
                                            </div>
                                        </div>
                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-6">
                                                <label for="email">Email*</label>
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{{ user.email }}" readonly required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="phone">Phone*</label>
                                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" value="{{ user.phone }}" required>
                                            </div>
                                        </div>
                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-6">
                                                <label for="inputAddress">Street & number*</label>
                                                <input type="text" class="form-control" name="street" id="street" placeholder="Street" value="{{ user.street }}" required>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputAddress">City*</label>
                                                <input type="text" class="form-control" name="city" id="city" placeholder="City" value="{{ user.city }}" required>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label for="zip">Zip*</label>
                                                <input type="text" class="form-control" name="zip" id="zip" value="{{ user.zip }}" required>
                                            </div>
                                        </div>
                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-6">
                                                <label for="inputCity">State*</label>
                                                <input type="text" class="form-control" name="state" id="state"  value="{{ user.state }}" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputCity">Country*</label>
                                                <input type="text" class="form-control" name="country" id="country"  value="{{ user.country }}" required>
                                            </div>

                                        </div>
                                        <input type="hidden" id="userID" value="{{ user.id }}">
                                        <button type="button" id="editUserSubmit" class="btn btn-primary mt-3" data-dismiss="modal">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>



{% endblock %}


{% block javascripts %}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
{#    <script src="{{ asset('theme/plugins/table/datatable/datatables.js') }}"></script>#}
{#    <script src="{{ asset('theme/assets/js/scrollspyNav.js') }}"></script>#}
{#    <script src="{{ asset('theme/plugins/file-upload/file-upload-with-preview.min.js') }}"></script>#}
{#    <script src="{{ asset('theme/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>#}
{#    <script src="{{ asset('theme/plugins/flatpickr/flatpickr.js') }}"></script>#}

    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        $('#editUserSubmit').click(function (){
            let formData = $('#updateClient').serializeArray();

            $.ajax({
                url: '/updateClient/' + $("#userID").val(),
                type: "POST",
                data: objectifyForm(formData),
                success: function (data) {
                    //location.reload();
                }
            })
        })

        function objectifyForm(formArray) {
            var returnArray = {};
            for (var i = 0; i < formArray.length; i++){
                returnArray[formArray[i]['name']] = formArray[i]['value'];
            }
            return returnArray;
        }

        // $( document ).ready(function() {
        //     if(
        //         $('#firstname').val() == "" ||
        //         $('#lastname').val() == "" ||
        //         $('#phone').val() == "" ||
        //         $('#street').val() == "" ||
        //         $('#city').val() == "" ||
        //         $('#firstname').val() == "" ||
        //     ){
        //         alert("Not complete data");
        //     }
        // });
    </script>
{% endblock %}
